body{
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: black;
    color:white;
    height: 100vh;
}



@media all and (max-width: 500px){
    body{
      min-width:390px;
      min-height:850px;
      color:red;
    }
    
  }