body {
  display:grid;

 
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}



.grid-1{
  order:0;
  grid-column: span 3;
  text-align: center;
}

.grid-2{
  order:1;
}

.row-2-item1{
  transform: rotate(-90deg);
  text-align:center;
}

.row-2-item2{

  margin:0 auto;
}


.row-2-item3{
  transform: rotate(90deg);
  text-align: center;
}

.row-3-item1{
  grid-column:span 3;
  text-align: center;
}




a {
  color: white;
  text-decoration: none;
}

