<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to my portfolio <br>Click here</h1>
    <div>Learn</div>
    <div>Practice</div>
    <div>Apply</div>
    <div>Innovate</div>
  </body>
</html>
