<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/frame.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="grid-2 row-2-item2">
      <a href="/whiteboards">Welcome to my portfolio <br>Click here</a>
    </h1>

      <div class="grid-item grid-1">Learn</div>
      <div class="grid-item grid-2 row-2-item3">Practice</div>
      <div class="grid-item grid-2 row-3-item1">Apply</div>
      <div class="grid-item grid-3 row-2-item1">Innovate</div>

  </body>
</html>
