<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- <link rel='stylesheet' href='/stylesheets/frame.css' /> -->
</head>
<body>
    <h1>ALL CAR LISTED</h1>
    <div>A single web page about cars</div>
    <% cars.forEach(function(t){%>
    <li>
        <%= t.brand %>
    </li>
    <% }) %>
    

</body>
</html>